*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background: linear-gradient(to right, var(--color-bg-gradient-start), var(--color-bg-gradient-end));
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
